---
// src/components/ui/CollaborationSection.astro

import { ui, defaultLang } from '../../i18n/ui';

const lang = Astro.currentLocale || defaultLang;

function t(key: keyof typeof ui[typeof defaultLang]) {
  return ui[lang as keyof typeof ui][key];
}
---

<section class="relative z-0 w-full bg-white py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-12">

<div class="grid grid-cols-1 lg:grid-cols-2 gap-14">

     <!-- LEFT CONTENT -->
<div class="self-start pt-0 lg:pt-2">

  <!-- PREHEADER (klein turquoise woord) -->
  <p class="mb-3 text-xs uppercase tracking-[0.25em] text-[#5CC2BF] font-medium">
    {t('collaboration.preheader')}
  </p>

  <!-- TITLE -->
  <h2 class="mb-8 text-3xl md:text-5xl tracking-[-0.03em] text-black leading-[1.1]">

    <span class="font-normal">
      {t('collaboration.titlePart1')}
    </span>

    <span class="font-semibold">
      {t('collaboration.titleHighlight')}
    </span>

  </h2>

  <!-- TEXT -->
<div class="space-y-6 max-w-2xl text-base md:text-base leading-[1.9] text-gray-700">

  <p>{t('collaboration.text1')}</p>

  <p set:html={t('collaboration.text2')
    .replace(
      '{followers}',
      `<span class="font-semibold text-[#5CC2BF]">17.800</span>`
    )
    .replace(
      '{ig1}',
      `<a href="https://www.instagram.com/maywaytravels" target="_blank" class="font-semibold text-[#5CC2BF] hover:opacity-70 transition">@maywaytravels</a>`
    )
    .replace(
      '{ig2}',
      `<a href="https://www.instagram.com/mayraaltink" target="_blank" class="font-semibold text-[#5CC2BF] hover:opacity-70 transition">@mayraaltink</a>`
    )
  } />

  <p class="font-medium text-black">
  {t('collaboration.text3').split('{email}')[0]}

  <a
    href="mailto:maywaytravels1@gmail.com?subject=Collaboration%20MAY%20WAY"
    class="font-semibold text-[#5CC2BF] hover:opacity-70 transition"
  >
    maywaytravels1@gmail.com
  </a>

  {t('collaboration.text3').split('{email}')[1]}
</p>
</div>

  
  </div>
</section>